<main role="main" id="certify"> <!-- main content starts here -->

  <section class="top-section top-section--certify">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-8 intro">
        <h1>{{title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12">
        {{{markdownify message}}}
      </div>
    </div>
    <div class="row confirmation--button">
      <div class="column large-12">
        <a class="button button--purple" href="https://www.oshwa.org/donate/" target="_blank">Donate</a>
      </div>
      <div class="column large-12">
        <a class="button button--purple" href="/apply">Submit another project</a>
      </div>
      <div class="column large-12">
        <a class="button button--purple" href="https://certification.oshwa.org">Go back to the homepage</a>
      </div>
    </div>

  </section>

</main>
